<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="registerform_wrapper">
    <div class="social_signup">
      <button ion-button icon-start (click)="facebooksignup()">
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook
      </button>
      <button ion-button icon-start (click)="googlesignup()">
        <ion-icon name="logo-googleplus"></ion-icon>
        Google
      </button>
      <button ion-button icon-start (click)="twittersignup()">
        <ion-icon name="logo-twitter"></ion-icon>
        Twitter
      </button>
      <button ion-button icon-start (click)="linkedinsignup()">
        <ion-icon name="logo-linkedin"></ion-icon>
        LinkedIn
      </button>
    </div>
    <form class="loginform" (ngSubmit)="loginsubmit(registeruser)" #loginuser="ngForm">
      <ion-item>
        <ion-label stacked>E-Mail Address</ion-label>
        <ion-input type="text" [(ngModel)]="data.email" name="email" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="data.password" name="password" required></ion-input>
      </ion-item>
      <button  type="submit" block ion-button color="primary">Submit</button>
    </form>
  </div>
</ion-content>
