<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="registerform_wrapper">
    <div class="social_signup">
      <button ion-button icon-start (click)="facebooksignup()">
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook
      </button>
      <button ion-button icon-start (click)="googlesignup()">
        <ion-icon name="logo-googleplus"></ion-icon>
        Google
      </button>
      <button ion-button icon-start (click)="twittersignup()">
        <ion-icon name="logo-twitter"></ion-icon>
        Twitter
      </button>
      <button ion-button icon-start (click)="linkedinsignup()">
        <ion-icon name="logo-linkedin"></ion-icon>
        LinkedIn
      </button>
    </div>
    <form class="registerform" (ngSubmit)="registersubmit(registeruser)" #registeruser="ngForm">
      <ion-item>
        <ion-label stacked>E-Mail Address</ion-label>
        <ion-input type="text" [(ngModel)]="data.email" name="email" #email="ngModel" required></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="registeruser._submitted && registeruser.form.controls.email._errors != undefined">
        <p class="error" *ngIf="registeruser.form.controls.email._errors.required">This field is required.</p>
      </div>
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="data.fname" name="fname" required></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="registeruser._submitted && registeruser.form.controls.fname._errors != undefined">
        <p class="error" *ngIf="registeruser.form.controls.fname._errors.required">This field is required.</p>
      </div>
      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="data.lname" name="lname" required></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="registeruser._submitted && registeruser.form.controls.lname._errors != undefined">
        <p class="error" *ngIf="registeruser.form.controls.lname._errors.required">This field is required.</p>
      </div>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="data.password" name="password" required></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="registeruser._submitted && registeruser.form.controls.password._errors != undefined">
        <p class="error" *ngIf="registeruser.form.controls.password._errors.required">This field is required.</p>
      </div>
      <ion-item>
        <ion-label stacked>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="data.confirmpassword" name="confirmpassword" required></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="registeruser._submitted && registeruser.form.controls.confirmpassword._errors != undefined">
        <p class="error" *ngIf="registeruser.form.controls.confirmpassword._errors.required">This field is required.</p>
      </div>
      <button  type="submit" block ion-button color="primary">Submit</button>
    </form>
  </div>
</ion-content>
