page-register {
// label{
//   display: block;
//   margin: 10px 0;
// }
// input{
//   display: block;
//   width: 100%;
//   min-height: 50px;
//   border: 1px solid grey;
// }

  .social_signup{
      text-align: center;
      margin-bottom: 20px;
  }
}
