<ion-menu type="push" [content]="content" enabled="true">
    <ion-content no-bounce>
      <ion-list>
        <button menuClose ion-item>PROFILE INFORMATION</button>
        <button menuClose ion-item>ALL COURSES</button>
        <button menuClose ion-item>TERMS AND CONDITIONS</button>
        <button menuClose ion-item>PRIVACY POLICY</button>
        <button menuClose ion-item>LOGOUT</button>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
